@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;800&display=swap");

:root {
  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /* Circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --darkgrey-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--white);
}

p {
  font-size: 18px;
}

.score {
  color: var(--white);
  font-size: 62px;
}

.greeting-text {
  color: var(--white);
  margin-bottom: 10px;
}

.result {
  background-color: hsl(241deg 81% 54% / 80%);
  color: var(--light-lavender);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  gap: 36px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 36px;
  border-radius: 50%;
  background-color: hsl(256deg 72% 46% / 60%);
}

.result-desc {
  margin-bottom: 16px;
  padding: 0px 8px;
}

.result-text-box {
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.category {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.category-desc {
  display: flex;
}

.summary {
  padding: 32px;
}

.summary-text {
  margin-bottom: 28px;
  color: var(--darkgrey-blue);
}

.continue {
  width: 100%;
  padding: 20px 16px;
  background-color: var(--darkgrey-blue);
  border-radius: 32px;
  color: var(--pale-blue);
  border: none;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.1);
}

.category-logo {
  margin-right: 8px;
}

.reaction-title {
  color: hsla(0, 100%, 67%, 0.7);
}

.memory-title {
  color: hsla(39, 100%, 56%, 0.7);
}

.verbal-title {
  color: hsla(166, 100%, 37%, 0.7);
}

.visual-title {
  color: hsl(234, 85%, 45%, 0.7);
}

.marks {
  font-weight: 600;
  margin-right: 2px;
  color: var(--darkgrey-blue);
}

.category-marks {
  color: #80808080;
}

@media (min-width: 700px) {
  .result-summary {
    width: 700px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 490px;
  }
  .result {
    width: 47%;
    z-index: 1;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
  .summary {
    width: 53%;
    border: 1px solid var(--pale-blue);
    margin-left: -24px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 30px 32px 32px 54px;
    box-shadow: 5px 5px 10px var(--pale-blue);
  }
  .circle {
    padding: 30px 50px;
  }
}
